# PlugNmeet Server URL
NEXT_PUBLIC_PLUGNMEET_SERVER_URL=http://localhost:8080

# Static Assets Path (Optional)
# NEXT_PUBLIC_STATIC_ASSETS_PATH=/assets

# Custom Logos (Optional)
# NEXT_PUBLIC_CUSTOM_LOGO_LIGHT=https://mydomain.com/logo_light.png
# NEXT_PUBLIC_CUSTOM_LOGO_DARK=https://mydomain.com/logo_dark.png

# Features (true/false)
NEXT_PUBLIC_ENABLE_DYNACAST=true
NEXT_PUBLIC_ENABLE_SIMULCAST=true

# Audio/Video Defaults
# Options: vp8, h264, vp9, av1
NEXT_PUBLIC_VIDEO_CODEC=vp8
# Options: h90, h180, h216, h360, h540, h720, h1080, h1440, h2160
NEXT_PUBLIC_DEFAULT_WEBCAM_RESOLUTION=h720
# Options: h360fps3, h720fps5, h720fps15, h1080fps15, h1080fps30
NEXT_PUBLIC_DEFAULT_SCREEN_SHARE_RESOLUTION=h1080fps15
# Options: telephone, speech, music, musicStereo, musicHighQuality, musicHighQualityStereo
NEXT_PUBLIC_DEFAULT_AUDIO_PRESET=music

# Behaviors (true/false)
NEXT_PUBLIC_STOP_MIC_TRACK_ON_MUTE=true
NEXT_PUBLIC_FOCUS_ACTIVE_SPEAKER_WEBCAM=true

# Design Customization (Optional)
# NEXT_PUBLIC_DESIGN_PRIMARY_COLOR=#004D90
# NEXT_PUBLIC_DESIGN_SECONDARY_COLOR=#24AEF7
# NEXT_PUBLIC_DESIGN_BACKGROUND_COLOR=#0b7db4
# NEXT_PUBLIC_DESIGN_HEADER_BG_COLOR=#45b3ec
# NEXT_PUBLIC_DESIGN_FOOTER_BG_COLOR=#45b3ec
# NEXT_PUBLIC_DESIGN_LEFT_SIDE_BG_COLOR=#ffffff
# NEXT_PUBLIC_DESIGN_RIGHT_SIDE_BG_COLOR=#ffffff
# NEXT_PUBLIC_DESIGN_CUSTOM_CSS_URL=https://example.com/custom.css
# NEXT_PUBLIC_DESIGN_CUSTOM_LOGO=https://example.com/logo.png

# Whiteboard Library Items (Comma separated URLs)
# NEXT_PUBLIC_WHITEBOARD_LIBRARY_ITEMS=https://libraries.excalidraw.com/libraries/BjoernKW/UML-ER-library.excalidrawlib

# Virtual Background Images (Comma separated URLs)
# NEXT_PUBLIC_VIRTUAL_BACKGROUND_IMAGES=https://www.example.com/vb_bg/image1.png,https://www.example.com/vb_bg/image2.png

# Database Cleanup (Milliseconds)
# Default: 6 hours (21600000)
NEXT_PUBLIC_DB_MAX_AGE_MS=21600000
