@import "@workspace/ui/globals.css";

@layer base {
  :root {
    --sidebar: 0 0% 98%;
    --sidebar-border: 220 13% 91%;
  }

  .dark {
    --sidebar: 240 5.9% 10%;
    --sidebar-border: 240 3.7% 15.9%;
  }

  .sidebar-scroll::-webkit-scrollbar {
    display: none;
  }
}

